
        <div class="modal-header">
            <h3 class="modal-title">I'm a modal!</h3>
        </div>
        <div class="modal-body">
         FirstName:<input type="text" ng-model="info.firstName"/><br/>
         LastName:<input type="text" ng-model="info.lastName"/><br/>
         Email:<input type="text" ng-model="info.email"/><br/>
         Account type:<input type="text" ng-model="info.accType"/><br/>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok(info)">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>


