<!Doctype html>
<html>
    <head>
         <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
         <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
         <script src="C:\Users\Asha Manimaran\Documents\visualstudiocode\codingpracticeAngularjs\testWatch\node_modules\watch-dom\dist\watch-dom.js"></script>
          <script src="app.js"></script>
    </head>
    <body ng-app='myApp'ng-controller="myController">
     <!-- Num1: <input type="number" ng-model="num1"/><br/>
      Num2: <input type="number" ng-model="num2"/><br/>
      <input type="button" ng-click="calculateSum();" value="calculate sum"/><br/>
      Sum:{{sum}}-->
     <!-- 
      Num1:<input type="number" ng-model="num1"/><br/>
      Num2:<input type="number" ng-model="num2"/><br/>
      Sum:{{sum}}
      -->
     <div id="parentDom"></div>
           
    </body>
</html>